.product {
    display: inline-block;
    border: 1px solid black;
    width: 350px;
    height: 380px;
    margin: 5px 7px;
    border-radius: 4px;
}

@media (max-width: 400px) {
    .product {
        width: 87%;
        margin-left: 2%;
        height: auto;
    }
    .product img {
        width: 10%;
        height: auto;
        max-height: 500px;
    }
}
.product:hover {
    border-color: yellow;
}

.product .prices {
    display: flex;
}
.product .prices label{
    flex: 1;
}
